<form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()" >
<div class="row">
<div class="col s12"> 
<div class="input-field col s6">
    <i class="material-icons prefix">account_circle</i>
    <input type="text" formControlName="nome" class="validate">
    <label  for="nome"> Nome: </label>
    <!--pristine se o campo ainda não foi modificado -->
    <div *ngIf="!nome.pristine && nome.errors">
        <span  *ngIf="nome.errors.required" class="helper-text" data-error="wrong" data-success="right">
            Nome é obrigatório.</span>
        <span *ngIf="nome.errors.minlength" class="helper-text" data-error="wrong" data-success="right">
            Nome deve ter no mínimo 3 caracters.</span>
        <span  *ngIf="nome.errors.maxlength" class="helper-text" data-error="wrong" data-success="right">
            Nome deve ter no máximo 100 caracters.</span>
      </div>
</div>  
<div class="input-field col s6">
    <i class="material-icons prefix">email</i>
    <input type="text" formControlName="email">
    <label for="email"  >E-mail:</label>
    <div *ngIf="!email.pristine && email.errors">
        <span *ngIf="email.errors.email" class="helper-text" data-error="wrong" data-success="right">
            Nome deve ter no máximo 100 caracters.</span>
      </div>
</div>  
</div>
</div>
<div class="row">
    <div class="col s12">
        <div class="input-field col s6">
            <label for="cpf">CPF:</label>
            <input type="text" formControlName="cpf">
            <div *ngIf="!cpf.pristine && cpf.errors">
                <p *ngIf="cpf.errors.required">
                  CPF é obrigatório.
                </p>
                <p *ngIf="cpf.errors.cpfInvalido">
                  Digite um CPF válido
                </p>
              </div>
        </div>
        <div class="input-field col s6" >
            <i class="material-icons prefix">date_range</i>
            <input type="date" formControlName="nascimento">
            <label for="nascimento">Nascimento:</label>
            <div *ngIf="!nascimento.pristine && nascimento.errors">
                <p *ngIf="nascimento.errors.required">
                  Data de Nascimento é obrigatória.
                </p>
                <p *ngIf="nascimento.errors.menorDeIdade">
                  Você precisa ter mais de 18 anos para cadastrar-se.
                </p>
              </div>
        </div>
    </div>
</div>
<div></div>
<div class="row">
    <div class="col s12">
        <div class="input-field col s6">
            <label for="senha">Senha:</label>
            <input type="password" formControlName="senha">
            <div *ngIf="!senha.pristine && senha.errors">
                <p *ngIf="senha.errors.required">
                  Senha é obrigatória.
                </p>
                <p *ngIf="senha.errors.minlength">
                  Senha deve ter no mínimo 6 caracters.
                </p>
                <p *ngIf="senha.errors.maxlength">
                  Senha deve ter no máximo 12 caracters.
                </p>
              </div> 
        </div>
        <div class="input-field col s6">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="password" formControlName="confirmarSenha"> 
            <div *ngIf="!confirmarSenha.pristine && confirmarSenha.errors">
                <p *ngIf="confirmarSenha.errors.required">
                  Confirme sua senha.
                </p>
                <p *ngIf="confirmarSenha.errors.senhasNaoCoincidem">
                  As senhas não coincidem.
                </p>
              </div>
        </div>
    </div>
</div>
<div>
    
</div>

<br>
<div class="row">
    <div class="col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!formularioDeUsuario.valid">Enviar Dados
            <i class="material-icons right">send</i>
          </button>
    </div>
    
</div>
<br>
<br>
<div>{{ formularioDeUsuario.value | json}}</div>
<div>{{ formularioDeUsuario.valid | json}}</div>

</form>